@font-face { 
    font-family: kinglard; src: url('fonts/kinglard-regular-italic.ttf'); 
} 
body{
    background-color: #dae362;
}
#logo{
    
    height: 50px;
}
#logopng{
    height: 80px;
    width: 80px;
    padding-top: 1px;
}
#loginsupport{
    height: 100px;
    
}
#loginbg{
    background-color: white;
    opacity: 75%;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    height: 450px;
    width: 500px;
    border-radius: 30px;
    text-align: center;
    
    
}
#login-text{
    color: blue;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-family: kinglard;
    font-weight: 800;
}
#email-text{
    font-size: 25px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif; 
    
}
#forget{
    text-decoration: none;
    font-size: 15p;
    margin-left: 275px;
    display: inline-block;
    margin-top: 5px;
}
#email-input{
    font-size: 20px;
    border-radius: 10px;
    text-shadow: none;
    box-shadow: none;
    width: 400px;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align:center;
    height: 40px;

    

}
::placeholder{
    font-style: italic;
    font-size: 1em;
    color: black;
    

}
#password-input{
    font-size: 20px;
    border-radius: 10px;
    text-shadow: none;
    box-shadow: none;
    width: 400px;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-align:center;
    height: 40px;
    margin-top: 5px;
    
    
    

}
#submit-botton{
    height: 40px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: px;
    text-align: center;
    border-radius: 25px;
    border-color: transparent;
    background-color: #ec520b;
    color: white;
    margin-top: 10px;
    
}
#sign-up{
    text-decoration: none;
    color:#ec520b ;
    

}
#email-icon{
    background: url(icons/mail.png) no-repeat right;
    background-size: 25px;
   
    background-position:  370px;
    

}
#logo-text{
    position: fixed;
    font-family: kinglard;
    margin-left: 70px;
    font-size: 40px;
    margin-top: 19px;
    text-decoration: none;
    color: black;
}

