body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

input {
    padding: 10px;
}

.btn {
    padding: 10px;
}

table {
    width: 100%;
}

table thead {
    background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}